<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">What is Axiologue</h3>
        </div>

        <div class="panel-body">
          <p>Axiologue is a crowd-sourced, community-based project to track the ethics of products and companies. We put ethical information in the hands of consumers, so they can shop in line with their own personal ethics and support the companies that are doing it right. We are guided by the following five principles:</p>

          <ul class="fa-ul principles-list">
            <li><i class="fa-li fa fa-lg fa-usd"></i> <h4>Free</h4> Ethical information should never be behind a paywall. We believe ethical information should be accessible to anyone who wants access to it.</li>
            <li><i class="fa-li fa fa-lg fa-user"></i> <h4>Personalized</h4> Who decides what's ethical?  You do! Axiologue lets users customize their ethical profiles so they only see what's important to them.</li>
            <li><i class="fa-li fa fa-lg fa-unlock-alt"></i> <h4>Open</h4> We believe ethical behavior starts with the free exchange of knoweldge. All of Axiologue's raw data is freely available, via this website or our Open API. All of our software is open source.</li>
            <li><i class="fa-li fa fa-lg fa-bar-chart"></i> <h4>Comprehensive</h4> Axiologue covers all possible ethical categories, including environment, labor, political affiliation, and more.</li>
            <li><i class="fa-li fa fa-lg fa-comments"></i> <h4>Participatory</h4> Axiologue is a crowd-sourced project, and all you need to contribute is a desire to bring ethical information to those who want it!</li>
        </ul>
        </div>
      </div>

    </div>
  </div>
</div>
